<h1>Crêpe party</h1>
<ul>
  <li [ngClass]="{'is-essential' : isImportant}">Farine</li>
  <li [ngClass]="{'is-essential' : isImportant}">Lait</li>
  <li [ngClass]="{'is-essential' : isImportant}">Sucre</li>
  <li [ngClass]="{'is-essential' : isImportant}">Beurre</li>
  <li [ngClass]="{'is-essential' : isImportant}">Oeufs</li>
  <li [ngStyle]="{'color' : isImportant ? 'red' : ''}">Nutella</li>
  <li>Citrons</li>
  <li [ngStyle]="{'color' : isImportant ? 'red' : ''}">Confiture</li>
  <li>Emmental</li>
</ul>
